<!DOCTYPE html>
<html>
<head>
  <title>Competition</title>
  <%= stylesheet_link_tag    "competition/application", :media => "all" %>
  <%= javascript_include_tag "competition/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>